.spinner__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.spinner__progress {
  position: relative;
}

.spinner__progress svg {
  fill: none;
  shape-rendering: geometricPrecision;
  position: relative;
  transform: rotate(-90deg);
}

.spinner__circle {
  position: relative;
  stroke-linecap: round;
}

.circle__background {
  stroke: #e8ebed;
}

.circle__foreground {
  stroke: #409fff;
}

.spinner__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #255788;
}

.spinner__number {
  font-size: 40px;
}

.spinner__percent {
  font-size: 20px;
}